/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Page background */
body {
  min-height: 100vh;
  background-color: rgb(255, 194, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #2b0a5e;
}

/* Product image */
#productImage {
  width: 320px;
  max-width: 90%;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
}

/* Product name */
#productName {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 14px;
  text-align: center;
}

/* Description */
#productDesc {
  font-size: 16px;
  line-height: 1.7;
  max-width: 600px;
  text-align: center;
  color: #444;
  margin-bottom: 25px;
}

/* Price */
#productPrice {
  font-size: 28px;
  font-weight: 700;
  color: #6a0779;
  margin-top: 10px;
}

/* Smooth appearance */
#productImage,
#productName,
#productDesc,
#productPrice {
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#productRating {
  font-size: 25px;
  font-weight: 600;
  color: #ff9800;
  margin: 10px 0 20px;
}

#buyBtn {
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(135deg, #cd236a, #d946ef);
  color: #fff;
  box-shadow: 0 10px 25px rgba(217, 70, 239, 0.4);
  transition: all 0.3s ease;
  margin: 15px;
  width: 200px;
}

#buyBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 30px rgba(184, 34, 207, 0.6);
}

